<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Web Lab
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
    name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/centralizar.css" />
  <!-- CSS Files -->
  <link href="css/material-dashboard.css?v=2.1.0" rel="stylesheet"/>
  <link rel="stylesheet" href="css/ajustes.css"/>
  <link rel="shortcut icon" href="img/imagens-weblab/weblab-icone.ico"/>
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <!-- <link href="../assets/demo/demo.css" rel="stylesheet"/> -->
</head>

<body>
  <!--Conteúdo principal-->
  <div class="content conteudo">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header"></div>
            <div class="card-body">
              <div class="row">
                <div class="col"></div>
                <div class="col">
                  <img class="logoConfig" src="img/imagens-weblab/weblab-logo.jpg" alt="Imagem indisponível"/>
                </div>
                <div class="col"></div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <h3 class="text-center">Efetuar login</h3>
                  <form action="/login" method="POST">
                    <%if (resultado.length > 0) {%>
                      <span class="text-danger"><%=resultado%></span>
                    <%}%>  
                    <div class="form-group">
                      <label class="bmd-label-floating">E-mail</label>
                      <input type="text" class="form-control" name="email_usuario_login"/>
                    </div>
                    <div class="form-group">
                      <label class="bmd-label-floating">Senha</label>
                      <input type="password" class="form-control" name="senha_usuario_login"/>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-success col-md-12">Login</button>
                    </div>
                  </form>
                </div>
                <div class="col-md-6">
                  <h3 class="text-center">Cadastrar-se</h3>
                  <form action="/cadastro_usuario" method="POST">
                    <%if (validacao.length > 0) {%>
                      <%for (let i = 0; i < validacao.length; i++) {%>
                        <%if (validacao[i].msg == "0") {%>
                          <span class="text-danger">Campo vazio!</span>
                        <%}%>
                        <%if (validacao[i].msg == "1") {%>
                          <span class="text-danger">Nome inválido!</span>
                        <%}%>   
                      <%}%>  
                    <%}%>
                    <div class="form-group">  
                      <label class="bmd-label-floating">Nome completo</label>
                      <input type="text" class="form-control" name="nome_usuario_cadastro"/>
                    </div>
                    <%if (validacao.length > 0) {%>
                      <%for (let i = 0; i < validacao.length; i++) {%>
                        <%if (validacao[i].msg == "2") {%>
                          <span class="text-danger">Campo vazio!</span>
                        <%}%>  
                      <%}%>  
                    <%}%>
                    <%if (validacaoCpf.length > 0) {%>
                      <%if (validacaoCpf == "0") {%>
                        <span class="text-danger">CPF inválido!</span>
                      <%}%>  
                    <%}%>  
                    <div class="form-group">
                      <label class="bmd-label-floating">CPF</label>
                      <input type="text" class="form-control" name="cpf_usuario_cadastro"/>
                    </div>
                    <%if (validacao.length > 0) {%>
                      <%for (let i = 0; i < validacao.length; i++) {%>
                        <%if (validacao[i].msg == "3") {%>
                          <span class="text-danger">Campo vazio!</span>
                        <%}%>  
                        <%if (validacao[i].msg == "4") {%>
                          <span class="text-danger">Tamanho inválido!</span>
                        <%}%>
                        <%if (validacao[i].msg == "5") {%>
                          <span class="text-danger">E-mail inválido!</span>
                        <%}%>
                      <%}%>  
                    <%}%>
                    <div class="form-group">
                      <label class="bmd-label-floating">E-mail</label>
                      <input type="text" class="form-control" name="email_usuario_cadastro"/>
                    </div>
                    <%if (validacao.length > 0) {%>
                      <%for (let i = 0; i < validacao.length; i++) {%>
                        <%if (validacao[i].msg == "6") {%>
                          <span class="text-danger">Campo vazio!</span>
                        <%}%>  
                        <%if (validacao[i].msg == "7") {%>
                          <span class="text-danger">Tamanho inválido!</span>
                        <%}%>
                        <%if (validacao[i].msg == "8") {%>
                          <span class="text-danger">E-mail inválido!</span>
                        <%}%>
                      <%}%>  
                    <%}%>
                    <%if (validacaoEmail.length > 0) {%>
                      <%if (validacaoEmail == "1") {%>
                        <span class="text-danger"> Os e-mails não são iguais!</span>
                      <%}%>  
                    <%}%>  
                    <div class="form-group">
                      <label class="bmd-label-floating">Confirmar e-mail</label>
                      <input type="text" class="form-control" name="confirmar_email_usuario_cadastro"/>
                    </div>
                    <%if (validacao.length > 0) {%>
                      <%for (let i = 0; i < validacao.length; i++) {%>
                        <%if (validacao[i].msg == "9") {%>
                          <span class="text-danger">Campo vazio!</span>
                        <%}%>  
                        <%if (validacao[i].msg == "10") {%>
                          <span class="text-danger">Tamanho inválido!</span>
                        <%}%>
                      <%}%>  
                    <%}%>
                    <div class="form-group">
                      <label class="bmd-label-floating">Senha</label>
                      <input type="password" class="form-control" name="senha_usuario_cadastro"/>
                    </div>
                    <%if (validacao.length > 0) {%>
                      <%for (let i = 0; i < validacao.length; i++) {%>
                        <%if (validacao[i].msg == "11") {%>
                          <span class="text-danger">Campo vazio!</span>
                        <%}%>  
                        <%if (validacao[i].msg == "12") {%>
                          <span class="text-danger">Tamanho inválido!</span>
                        <%}%>
                      <%}%>  
                    <%}%>
                    <%if (validacaoSenha.length > 0) {%>
                      <%if (validacaoSenha == "2") {%>
                        <span class="text-danger">As senhas não são iguais!</span>
                      <%}%>  
                    <%}%>  
                    <div class="form-group">
                      <label class="bmd-label-floating">Confirmar senha</label>
                      <input type="password" class="form-control" name="confirmar_senha_usuario_cadastro"/>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn btn-success col-md-12">Cadastrar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Conteúdo principal-->
  <!--   Core JS Files   -->
  <script src="js/core/jquery.min.js"></script>
  <script src="js/core/popper.min.js"></script>
  <script src="js/core/bootstrap-material-design.min.js"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!--  Google Maps Plugin    -->
  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->
  <!-- Chartist JS -->
  <script src="js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="js/material-dashboard.js?v=2.1.0"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <!-- <script src="../assets/demo/demo.js"></script> -->
</body>

</html>